.profileFormRow {
  width: 100%;
  // border: 2px solid red;
  display: flex;
  justify-content: space-between;
  gap: 30px;
} 
.inputBox {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 500px;
  margin-bottom: 25px;
}
.labelTag {
  font-size: 14px;
  font-weight: 600;
  color: #525252;
  line-height: 22px;
}
.saveButton {
  background-color: black !important;
  color: white;
  border: 1px solid black !important;
  font-weight: 600;
  &:hover {
    background-color: white !important;
    color: black;
  }
}
